@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");

body {
  text-align: center;
  font-family: "MuseoModerno", cursive;
}

.App {
  margin-top: 15%;
}

.otp {
  margin: 5% auto 15px;
}

.otp__input {
  width: 3rem;
  height: 3rem;
  margin: 0 0.75rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.otp__input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit__button {
  border: none;
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  border: 1px solid #9292c8;
  color: #fff;
  background: #9292c8;
  padding: 0px 80px;
  font-weight: bold;
  font-family: "MuseoModerno", cursive;
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.success--text {
  font-size: 100px;
  margin: 16px 0px;
  font-weight: bold;
}
